@charset "utf-8"

html, body
 margin: 0
 padding: 0

body
 background-color: #fff
 min-width: 1110px

.container
 min-width: 1110px

//Шрифты
.phone,.title_data
 font-family: 'Arial'
 font-weight: bold

.title__tagline,.nav_text,.services_description,.shop_title span,.shop__categori_title,.contact_form_title span
 font-family: 'Raleway'
 font-weight: 800
 font-style: normal

.sale,.reception,.header__nav_menu,.button__row,.button__footer,.parts_description, ul.slick-dots button,.contact_form_button input
 font-family: 'Raleway'
 font-weight: 600
 font-style: normal

.spare__title,.slider__description_title,.form_main_title,.parts__nav_description span
 font-family: 'Raleway'
 font-weight: bold
 font-style: normal

.spare__title_small,.shop_title,.contact_form_col form p,.form_file_pin,.form_info_title,.footer__nav,.footer__address,.footer_copy,.shop__categori_number
 font-family: 'Raleway'
 font-weight: normal
 font-style: normal

.parts__nav_description,.services__slider_description,.contact_form_title
 font-family: 'Raleway'
 font-weight: 500
 font-style: normal
//Конец Шрифты
.row
 margin-left: 0
 margin-right: 0

.header__nav
 border-bottom: 2px solid #d8dcde
 padding-top: 15px

.nav__row
 align-items: center
 padding-bottom: 15px

.nav__col
 text-transform: uppercase
 padding: 0

.nav__col_logo
 display: flex
 margin-right: 88px
 & a
  display: inherit
  text-decoration: none
  color: #000

.nav_logo
 margin-right: 24px

.nav_text
 font-size: 9px
 align-self: center

.nav__col_dep
 margin-right: 99px

.nav__col_reception
 margin-right: 120px

.sale,.reception
 font-size: 9px
 color: #a9aeb3

.nav__col_dep .phone,.nav__col_reception .phone
 font-size: 24px

.header__icon ul
 display: flex
 list-style-type: none
 padding: 0
 margin: 0
 & li
  content: " "
  background-color: #ffc821
  width: 45px
  height: 45px
  border-radius: 100%
 & li:nth-child(1)
  margin-right: 18px

.header__icon ul li a
 display: flex
 justify-content: center
 align-items: center
 width: 100%
 height: 100%

.nav__menu_row
 align-items: center
 height: 57px

.header__nav_menu ul
 font-size: 17px
 display: flex
 list-style-type: none
 padding: 0
 margin: 0
 & li
  margin-right: 42px
  & a
   color: #1d232a
   text-decoration: none

.nav__menu_row
 & form
  background-color: #e5e9eb
  display: flex
  align-items: center
  height: 100%
  & input
   color: #9b9fa1
   background-color: #e5e9eb
   border: none
  & input:focus
   outline: none

.nav__menu_row
 & form input:nth-child(1)
  padding-left: 23px
  padding-right: 27px

.nav__menu_row
 & form input:nth-child(2)
  padding-right: 23px
  cursor: pointer

.nav__menu_row
 & input[type="submit"]
  background: url(../images/search.png) no-repeat
  border: none

.section__title
 background-color: #0d1013
 background-image: url(../images/back-fone1.png)

.section__title_row
 justify-content: center
 text-align: center
 padding-top: 133px
 padding-bottom: 50px
 & .col-md-8
  text-transform: uppercase
  color: #fff

.button__row
 display: flex
 justify-content: center
 text-align: center
 font-size: 16px
 & a
  display: flex
  align-items: center
  width: 260px
  height: 60px
  justify-content: center
  padding-right: 34px
  background-color: #ffc821
  border-radius: 100px
  text-decoration: none
  color: #000
  position: absolute
  & span
   position: absolute
   top: 50%
   margin-top: -1px
   right: 38px
   width: 20px
   height: 2px
   background-color: #000
   &::before,&::after
    content: ''
    position: absolute
    top: 50%
    margin-top: -1px
    right: 1px
    width: 20px
    height: 2px
    background-color: #000

.button__row
 & a
  & span
   &::before
    transform: translateY(-5px)
    transform: rotate(-35deg)
    width: 7px
    transform-origin: right bottom

.button__row
 & a
  & span
   &::after
    transform: translateY(5px)
    transform: rotate(35deg)
    width: 7px
    transform-origin: right top

.title_data
 font-size: 26px
 margin-bottom: 62px
 position: relative
 &::after
  position: absolute
  display: block
  width: 60px
  left: 50%
  bottom: -31px
  content: ""
  border-bottom: 4px solid #ffc821
  transform: translateX(-50%)
  
.title__tagline
 font-size: 45px
 & span
  color: #ffc821

.spare__title_row
 width: 980px
 margin-left: auto
 margin-right: auto
 justify-content: center
 text-align: center
 border: 4px solid #ffc821
 border-bottom: none
 margin-top: 135px
 padding: 50px 55px
 padding-bottom: 165px
 & .col-md-auto
  color: #fff

.spare__title
 font-size: 36px
 margin-bottom: 30px
 text-transform: uppercase

.spare__title_small
 font-size: 18px

.section__parts
 background-color: #e2e4e8

.section__parts_row
 position: relative
 top: -104px
 text-align: center
 justify-content: center

.img__shell
 height: 218px
 width: 255px
 background-color: #fff
 text-align: center
 display: flex
 justify-content: center
 align-items: center

.section__parts_col
 & a
  text-decoration: none
  color: #000

.parts_description
 height: 70px
 width: 255px
 background-color: #c9d0da
 display: flex
 align-items: center
 justify-content: center
 text-decoration: underline
 font-size: 18px
 & img
  margin-left: 9px

.parts__nav_row
 text-align: center
 width: 100%

.parts__nav_description
 font-size: 21px
 margin-top: 55px
 margin-bottom: 23px
 & span
  font-weight: bold

.services_description
 padding-top: 84px
 padding-bottom: 50px
 font-size: 36px
 text-transform: uppercase

.section__services
 background-color: #f2f2f2
 padding-bottom: 107px
 & .row
  justify-content: center

.services__slider
 background-color: #fff
 width: 1110px

.services__slider_img
 background: url(../images/ковш.png) 45% 50%
 background-size: cover
 padding: 0
 & img
  width: 460px
  height: 531px

.slider__description_title
 margin-top: 63px
 margin-bottom: 38px
 font-size: 28px

.services__slider_description 
 padding-left: 80px
 & ul
  padding-left: 20px
  font-size: 16px
 & li
  margin-bottom: 20px
  list-style-type: none
  list-style-image: url(../images/li-image.png)
  padding-left: 15px

.shop_title_row
 justify-content: center
 text-align: center

.shop_title
 padding-bottom: 46px
 padding-top: 124px
 font-size: 36px
 color: #fff
 text-transform: uppercase
 & span
  color: #ffc821

.shop__categori_col
 border-bottom: 1px solid #21252b
 border-right: 1px solid #21252b
 width: 365px
 height: 255px
 background-color: #ffc821
 text-align: center
 padding: 0
 & img
  padding-bottom: 29px

.shop__categori_col
 & a
  display: block
  text-decoration: none
  text-transform: uppercase
  color: #21252b
  height: 100%

.shop__categori_col:hover, .button__row a:hover
 background-color: rgba(160, 150, 140, 10)
 transition: 0.5s

.button__row a:hover
 color: #fff
 & span, span::before, span::after
  background-color: #fff
  transition: 0.5s

.shop__categori_number
 background-color: #21252b
 width: 40px
 height: 27px
 border-radius: 40px
 color: #ffc821
 display: flex
 justify-content: center
 align-items: center
 margin-top: 18px
 margin-left: 18px

.shop__categori_title
 font-size: 21px

.section__shop
 background-color: #0d1013
 background-image: url(../images/back-fone2.png)
 padding-bottom: 162px

.contact_form_row
 justify-content: center
 & .contact_form_title
  font-size: 36px
  text-align: center
  padding-top: 90px
  padding-bottom: 46px
  text-transform: uppercase
  & span
   font-weight: bold

.section__contact_form
 background-color: #f2f2f2
 padding-bottom: 100px

.contact_form_main
 justify-content: center

.form_main_title
 & span:nth-child(1)
  font-size: 22px
 & span:nth-child(2)
  line-height: 35px
  color: #50555b
  font-size: 15px
 & form
  flex-wrap: wrap

.contact_form_img
 background: teal url(../images/form_img.png) 30% 50%
 background-size: cover
 padding: 0

.img_shell
 background-color: rgba(17, 17, 17, 0.29)
 height: 100%

.contact_form_color
 background-color: #fff

.contact_form_col
 padding-left: 65px
 padding-top: 65px

.contact_form_col
 & form
  padding-top: 28px
  padding-right: 72px
  color: #868a8c
  & p, input, textarea
   background-color: #f3f3f4
  & input, textarea
   border: none
  & input, textarea
   outline: none
  & p
   color: #868a8c
   border-radius: 5px
   border: 1px solid #dbdfe1
   display: flex
   padding-left: 25px
   font-size: 13px
  & p:nth-child(1)
   height: 47px
   align-items: center
  & p:nth-child(2)
   height: 47px
   align-items: center
  & p:nth-child(3)
   flex-wrap: wrap
   padding-top: 18px
  & textarea
   height: 81px
   resize: none

.contact_form_button
 font-size: 15px
 & input
  width: 100%
  padding: 0
  margin: 0
  position: static

.input
 border: 1px solid black
 height: 22px

.button__row input
 display: flex
 align-items: center
 width: 100%
 height: 60px
 padding: 0
 margin: 0
 justify-content: center
 background-color: #ffc821!important
 border-radius: 100px
 color: #000
 &:hover
  cursor: pointer
  background-color: rgba(160, 150, 140, 10)!important
  color: #fff
  transition: 0.5s

.form_info_title
 text-align: center
 margin-top: 21px
 margin-bottom: 44px
 font-size: 13px
 & span
  color: red
  padding-left: 5px
  font-size: 24px

.form_file_pin
 border: 1px dashed #b6b6b8
 height: 45px
 display: flex
 align-items: center
 justify-content: center
 margin-top: 20px
 margin-bottom: 20px
 font-size: 13px
 & button
  display: flex
  justify-content: center
  background-color: transparent
  border: none
  cursor: pointer
  font-family: inherit
  height: 100%
  width: 100%
 & span
  border-bottom: 1px dashed #b6b6b8
 & img
  padding-right: 16px


footer
 background-color: #343d45

.footer
 background-color: #23292f
 padding: 48px 0 57px 0

.footer__section_col
 color: #c6cacd
 padding: 0
 padding-right: 50px
 font-size: 19px
 & a
  color: #c6cacd
 &:nth-child(1)
  padding-right: 42px
 &:nth-child(5)
  padding: 0

.footer__nav_row
 justify-content: flex-start
 height: 58px
 align-items: center

.footer__nav ul
 display: flex
 list-style-type: none
 padding: 0
 margin: 0
 & li
  margin-left: 64px
 & li:nth-child(1)
  margin: 0

.footer__nav a
 text-decoration: none
 color: #8f9598

.footer__address
 margin-bottom: 20px
 font-size: 14px
 line-height: 18px

.button__footer
 font-size: 14px
 & a
  display: flex
  justify-content: center
  align-items: center
  width: 199px
  height: 40px
  background-color: #23292f
  border: 1px solid #5a636f
  border-radius: 100px
  text-decoration: none
 & img
  margin-right: 17px

.button__footer a:hover
 background-color: #ffc821 
 color: #000
 transition: 0.5s

.footer__section_col
 & .footer__sale
  margin-bottom: 7px
 & .footer__phone
  margin-bottom: 21px
  color: #fff
  font-size: 19px

.footer__section_col .button__footer:nth-child(1)
 margin-bottom: 13px

.footer__section_col .button__footer:nth-child(1) a
 background-color: #ffc821 
 color: #000

.footer__section_col .button__footer:nth-child(1) a:hover
 background-color: #23292f
 color: #c6cacd

.footer__section_col div:nth-child(4)
 margin: 0

.footer__author_info
 border-top: 1px solid #515964
 background-color: #23292f

.footer_copy
 justify-content: center
 padding-top: 30px
 padding-bottom: 30px
 color: #515964
 font-size: 14px

.form_button_input
 & input
  position: absolute
  top: 0
  left: 0
  width: 0
  height: 0
  visibility: hidden
  z-index: -1

@-moz-document url-prefix()
 .form_file_pin
  & button
   align-items: center
  & img
   height: 50%
   width: auto
