@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  min-width: 1110px;
}

.container {
  min-width: 1110px;
}

.phone, .title_data {
  font-family: "Arial";
  font-weight: bold;
}

.title__tagline, .nav_text, .services_description, .shop_title span, .shop__categori_title, .contact_form_title span {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
}

.sale, .reception, .header__nav_menu, .button__row, .button__footer, .parts_description, ul.slick-dots button, .contact_form_button input {
  font-family: "Raleway";
  font-weight: 600;
  font-style: normal;
}

.spare__title, .slider__description_title, .form_main_title, .parts__nav_description span {
  font-family: "Raleway";
  font-weight: bold;
  font-style: normal;
}

.spare__title_small, .shop_title, .contact_form_col form p, .form_file_pin, .form_info_title, .footer__nav, .footer__address, .footer_copy, .shop__categori_number {
  font-family: "Raleway";
  font-weight: normal;
  font-style: normal;
}

.parts__nav_description, .services__slider_description, .contact_form_title {
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.header__nav {
  border-bottom: 2px solid #d8dcde;
  padding-top: 15px;
}

.nav__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}

.nav__col {
  text-transform: uppercase;
  padding: 0;
}

.nav__col_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 88px;
}
.nav__col_logo a {
  display: inherit;
  text-decoration: none;
  color: #000;
}

.nav_logo {
  margin-right: 24px;
}

.nav_text {
  font-size: 9px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__col_dep {
  margin-right: 99px;
}

.nav__col_reception {
  margin-right: 120px;
}

.sale, .reception {
  font-size: 9px;
  color: #a9aeb3;
}

.nav__col_dep .phone, .nav__col_reception .phone {
  font-size: 24px;
}

.header__icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header__icon ul li {
  content: " ";
  background-color: #ffc821;
  width: 45px;
  height: 45px;
  border-radius: 100%;
}
.header__icon ul li:nth-child(1) {
  margin-right: 18px;
}

.header__icon ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.nav__menu_row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 57px;
}

.header__nav_menu ul {
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header__nav_menu ul li {
  margin-right: 42px;
}
.header__nav_menu ul li a {
  color: #1d232a;
  text-decoration: none;
}

.nav__menu_row form {
  background-color: #e5e9eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.nav__menu_row form input {
  color: #9b9fa1;
  background-color: #e5e9eb;
  border: none;
}
.nav__menu_row form input:focus {
  outline: none;
}

.nav__menu_row form input:nth-child(1) {
  padding-left: 23px;
  padding-right: 27px;
}

.nav__menu_row form input:nth-child(2) {
  padding-right: 23px;
  cursor: pointer;
}

.nav__menu_row input[type="submit"] {
  background: url(../images/search.png) no-repeat;
  border: none;
}

.section__title {
  background-color: #0d1013;
  background-image: url(../images/back-fone1.png);
}

.section__title_row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 133px;
  padding-bottom: 50px;
}
.section__title_row .col-md-8 {
  text-transform: uppercase;
  color: #fff;
}

.button__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 16px;
}
.button__row a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 34px;
  background-color: #ffc821;
  border-radius: 100px;
  text-decoration: none;
  color: #000;
  position: absolute;
}
.button__row a span {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 38px;
  width: 20px;
  height: 2px;
  background-color: #000;
}
.button__row a span::before, .button__row a span::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 1px;
  width: 20px;
  height: 2px;
  background-color: #000;
}

.button__row a span::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  width: 7px;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

.button__row a span::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 7px;
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.title_data {
  font-size: 26px;
  margin-bottom: 62px;
  position: relative;
}
.title_data::after {
  position: absolute;
  display: block;
  width: 60px;
  left: 50%;
  bottom: -31px;
  content: "";
  border-bottom: 4px solid #ffc821;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.title__tagline {
  font-size: 45px;
}
.title__tagline span {
  color: #ffc821;
}

.spare__title_row {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 4px solid #ffc821;
  border-bottom: none;
  margin-top: 135px;
  padding: 50px 55px;
  padding-bottom: 165px;
}
.spare__title_row .col-md-auto {
  color: #fff;
}

.spare__title {
  font-size: 36px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.spare__title_small {
  font-size: 18px;
}

.section__parts {
  background-color: #e2e4e8;
}

.section__parts_row {
  position: relative;
  top: -104px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img__shell {
  height: 218px;
  width: 255px;
  background-color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__parts_col a {
  text-decoration: none;
  color: #000;
}

.parts_description {
  height: 70px;
  width: 255px;
  background-color: #c9d0da;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: underline;
  font-size: 18px;
}
.parts_description img {
  margin-left: 9px;
}

.parts__nav_row {
  text-align: center;
  width: 100%;
}

.parts__nav_description {
  font-size: 21px;
  margin-top: 55px;
  margin-bottom: 23px;
}
.parts__nav_description span {
  font-weight: bold;
}

.services_description {
  padding-top: 84px;
  padding-bottom: 50px;
  font-size: 36px;
  text-transform: uppercase;
}

.section__services {
  background-color: #f2f2f2;
  padding-bottom: 107px;
}
.section__services .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__slider {
  background-color: #fff;
  width: 1110px;
}

.services__slider_img {
  background: url(../images/ковш.png) 45% 50%;
  background-size: cover;
  padding: 0;
}
.services__slider_img img {
  width: 460px;
  height: 531px;
}

.slider__description_title {
  margin-top: 63px;
  margin-bottom: 38px;
  font-size: 28px;
}

.services__slider_description {
  padding-left: 80px;
}
.services__slider_description ul {
  padding-left: 20px;
  font-size: 16px;
}
.services__slider_description li {
  margin-bottom: 20px;
  list-style-type: none;
  list-style-image: url(../images/li-image.png);
  padding-left: 15px;
}

.shop_title_row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.shop_title {
  padding-bottom: 46px;
  padding-top: 124px;
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
}
.shop_title span {
  color: #ffc821;
}

.shop__categori_col {
  border-bottom: 1px solid #21252b;
  border-right: 1px solid #21252b;
  width: 365px;
  height: 255px;
  background-color: #ffc821;
  text-align: center;
  padding: 0;
}
.shop__categori_col img {
  padding-bottom: 29px;
}

.shop__categori_col a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #21252b;
  height: 100%;
}

.shop__categori_col:hover, .button__row a:hover {
  background-color: #a0968c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button__row a:hover {
  color: #fff;
}
.button__row a:hover span, .button__row a:hover span::before, .button__row a:hover span::after {
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.shop__categori_number {
  background-color: #21252b;
  width: 40px;
  height: 27px;
  border-radius: 40px;
  color: #ffc821;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 18px;
  margin-left: 18px;
}

.shop__categori_title {
  font-size: 21px;
}

.section__shop {
  background-color: #0d1013;
  background-image: url(../images/back-fone2.png);
  padding-bottom: 162px;
}

.contact_form_row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact_form_row .contact_form_title {
  font-size: 36px;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 46px;
  text-transform: uppercase;
}
.contact_form_row .contact_form_title span {
  font-weight: bold;
}

.section__contact_form {
  background-color: #f2f2f2;
  padding-bottom: 100px;
}

.contact_form_main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form_main_title span:nth-child(1) {
  font-size: 22px;
}
.form_main_title span:nth-child(2) {
  line-height: 35px;
  color: #50555b;
  font-size: 15px;
}
.form_main_title form {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact_form_img {
  background: teal url(../images/form_img.png) 30% 50%;
  background-size: cover;
  padding: 0;
}

.img_shell {
  background-color: rgba(17, 17, 17, 0.29);
  height: 100%;
}

.contact_form_color {
  background-color: #fff;
}

.contact_form_col {
  padding-left: 65px;
  padding-top: 65px;
}

.contact_form_col form {
  padding-top: 28px;
  padding-right: 72px;
  color: #868a8c;
}
.contact_form_col form p, .contact_form_col form input, .contact_form_col form textarea {
  background-color: #f3f3f4;
}
.contact_form_col form input, .contact_form_col form textarea {
  border: none;
}
.contact_form_col form input, .contact_form_col form textarea {
  outline: none;
}
.contact_form_col form p {
  color: #868a8c;
  border-radius: 5px;
  border: 1px solid #dbdfe1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25px;
  font-size: 13px;
}
.contact_form_col form p:nth-child(1) {
  height: 47px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact_form_col form p:nth-child(2) {
  height: 47px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact_form_col form p:nth-child(3) {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 18px;
}
.contact_form_col form textarea {
  height: 81px;
  resize: none;
}

.contact_form_button {
  font-size: 15px;
}
.contact_form_button input {
  width: 100%;
  padding: 0;
  margin: 0;
  position: static;
}

.input {
  border: 1px solid black;
  height: 22px;
}

.button__row input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffc821 !important;
  border-radius: 100px;
  color: #000;
}
.button__row input:hover {
  cursor: pointer;
  background-color: #a0968c !important;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form_info_title {
  text-align: center;
  margin-top: 21px;
  margin-bottom: 44px;
  font-size: 13px;
}
.form_info_title span {
  color: red;
  padding-left: 5px;
  font-size: 24px;
}

.form_file_pin {
  border: 1px dashed #b6b6b8;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 13px;
}
.form_file_pin button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  height: 100%;
  width: 100%;
}
.form_file_pin span {
  border-bottom: 1px dashed #b6b6b8;
}
.form_file_pin img {
  padding-right: 16px;
}

footer {
  background-color: #343d45;
}

.footer {
  background-color: #23292f;
  padding: 48px 0 57px 0;
}

.footer__section_col {
  color: #c6cacd;
  padding: 0;
  padding-right: 50px;
  font-size: 19px;
}
.footer__section_col a {
  color: #c6cacd;
}
.footer__section_col:nth-child(1) {
  padding-right: 42px;
}
.footer__section_col:nth-child(5) {
  padding: 0;
}

.footer__nav_row {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 58px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__nav ul li {
  margin-left: 64px;
}
.footer__nav ul li:nth-child(1) {
  margin: 0;
}

.footer__nav a {
  text-decoration: none;
  color: #8f9598;
}

.footer__address {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
}

.button__footer {
  font-size: 14px;
}
.button__footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 199px;
  height: 40px;
  background-color: #23292f;
  border: 1px solid #5a636f;
  border-radius: 100px;
  text-decoration: none;
}
.button__footer img {
  margin-right: 17px;
}

.button__footer a:hover {
  background-color: #ffc821;
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__section_col .footer__sale {
  margin-bottom: 7px;
}
.footer__section_col .footer__phone {
  margin-bottom: 21px;
  color: #fff;
  font-size: 19px;
}

.footer__section_col .button__footer:nth-child(1) {
  margin-bottom: 13px;
}

.footer__section_col .button__footer:nth-child(1) a {
  background-color: #ffc821;
  color: #000;
}

.footer__section_col .button__footer:nth-child(1) a:hover {
  background-color: #23292f;
  color: #c6cacd;
}

.footer__section_col div:nth-child(4) {
  margin: 0;
}

.footer__author_info {
  border-top: 1px solid #515964;
  background-color: #23292f;
}

.footer_copy {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #515964;
  font-size: 14px;
}

.form_button_input input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  visibility: hidden;
  z-index: -1;
}

@-moz-document url-prefix() {
  .form_file_pin button {
    align-items: center;
  }
  .form_file_pin img {
    height: 50%;
    width: auto;
  }
}
